%p#notice= notice

%p
  %b Name:
  = @product.name
%p
  %b Description:
  = @product.description.html_safe
%p
  %b Metatags:
  = @product.metatags

= link_to 'Edit', edit_product_path(@product)
\|
= link_to 'Back', products_path
